body,html{
    width: 963px;
    margin: auto;
}
/* top page */
h1{
    text-align: center;
}
nav a{
    font-size: 28px;
    font-weight: 500;
}
nav a:hover,.content-nav a:hover{
    color: deeppink;
}
nav li{
    display: inline;
    padding: 10px;
}
nav ul{
    text-align: center;
}
/* ===================================================== */
/*  */
/* content */

/* -------------------content nav-------------------- */

.content-nav li{
    font-size: 24px;
    padding-bottom: 20px;
}
.content-nav{
    border: 5px solid grey;
    width: 350px;
    text-align: center;
    margin-left: 8%;
}

/* ======font and margin================ */
.blogg{
    font-size: 24px;
}
p,.blogg,h2{
    padding: 15px;
}

/* beachespart1 */
.beaches-part1{
    max-width: 700px;
    min-width: 600px;
    max-height: 500px;
    min-height: 450px;
}


/*  */
/* =============== HR ========== */
hr.main{
  height: 10px;
}
/* =============================footer========================= */
footer{
    text-align: center;
    clear: both;
    background-color: rgb(0, 0, 0,0.6);
    padding: 5%;
    color: white;
    max-width: 100%;
    min-width: 60%;
    height: auto;
    margin-bottom: 1%;
}
.social{
    width: 45px;
    height: 45px;
    padding: 8.5px;
}
.upp{
    width: 45px;
    height: 45px;
    margin-left: 50%;
}