html,body{
    width: 100%;
}

/*----------------- blog page--------------- */
/* body 
    blogmain=img
*/
.container-of-blogimg, .blogmain-img{
    position: relative;
    max-width: 100%;
    min-width: 70%;
    margin-top: -0.5%;
    max-height: 800px;
    min-height: 500px;
}
.webname{
    position: absolute;
    top: 35px;
    left: 45px;
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 0.65;
    border: solid 2px black;
    padding: 5px;
    background-color: black;
    color: white;
}
.navof-blog{
    position: absolute;
    max-width: 100%;
    min-width: 70%;
    top: 40%;
    left: 15%;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid black;
    background-color: rgb(0, 0, 0,0.85);
}
.navof-blog a,.navof-blog li{
    display: inline;
    padding: 20px;
    margin: 1;
    color: white;
    border: none;
    text-decoration: none;
}
.navof-blog a:hover{
    color: blue;
}
.quote-blog{
    position: absolute;
    top: 20%;
    left: 22%;
    font-size: 64px;
    font-family: cursive;
    padding: 5px;
    color: orangered;
    opacity: 0.7;
    background-color: rgb(64, 224, 208,0.72);
}
/* =========================ended============================== */
/* 
*/
/* =======================blog-catogiries========================== */
.catagory-one, .catagory-two {
    max-width: 350px;
    min-width: 250px;
    max-height: 350px;
    min-height: 250px;
    position: relative;
    float: left;
    margin-left: 12%;
  margin-top: 5%;
  margin-bottom: 10%;
  
}
.catagory-one:hover,.catagory-two:hover{
 opacity: 0.7;
}
.catagory-three:hover,.catagory-four:hover{
    opacity: 0.7;
   }
/*  */
.solotravelers{
    position: absolute;
    margin-left: 14%;
  margin-top: 12%;
  font-size: 36px;
  color: white;
  background-color: rgb(0, 0, 0,0.7);
}
.catagory-three,.catagory-four{
    max-width: 350px;
    min-width: 250px;
    max-height: 350px;
    min-height: 250px;
    position: relative;
    clear: right;
    float: left;
    margin-left: 12%;
    margin-bottom: 8%;
}
/* =========================ended============================== */
/* 
 */
 /* ===========================hottours=========================== */
 .hottours{
     clear: both;
     margin-left: 8.5%;
 }
 .hot-topic1,.hot-topic2,.hot-topic3,.hot-topic4{
     position: relative;
     float: left;
     max-width: 170px;
     min-width: 150px;
     max-height: 170px;
     min-height: 150px;
     margin: 2.5%
 }
 .hot-topic1:hover,.hot-topic2:hover,.hot-topic3:hover,.hot-topic4:hover{
     opacity: 0.7;
 }
 /* =========================ended============================== */
 /* 
  */
  /* ======================footer================== */

  footer{
     text-align: center;
     clear: both;
     background-color: black;
     padding: 8.5%;
     color: white;
 }
 .blog-social{
     width: 45px;
     height: 45px;
     padding: 8.5px;
 }
