@media screen and (max-width : 1000px ){
/* ==== M O B I L E  B A R ==== */

.pcnav{
    display: none;
}
 .text1{
     width: 80px;
     height: 10px;
     background-color: black;
 }
.openbtn{
    margin: 60px 0px 10px 100px;
    position: relative;
    display: block;
}
.openbtn:hover{
    cursor: pointer;
}
/* ------------- */
.closebtn{
    position: relative;
  margin: 100px 0px 0px 500px;
}
svg{
    color: white;
}
/* ---------------- */
.mobilenav{
    position: fixed;
    overflow: hidden;
    width: 0%;
    height: 50%;
    transition: 0.3s;
    margin: -50px 0px 0px 0px;
    z-index: 1;
    background-color: rgb(0, 0, 0,0.89);
    text-align: center;
    top: 0;
    display: block;
}

.nav-con a{
font-size: 50px;
text-decoration: none;
color: white;
font-family: 'Times New Roman', Times;
display: block;
padding: 20px;
}
/* ------------------------------ */
.webname a{
      font-size: 56px;
      text-decoration: none;
      color: rgb(255, 255, 255,0.75);
      font-weight: bold;
}
.webname{
    border: 15px double rgba(222, 219, 255, 0.733);
    width: 430px;
    height: 100px;
    background-color: rgb(0, 0, 0,0.85);
    border-radius: 25px;
    margin: -110px 0px 0px 300px;
}
.text3{
    margin:  10px 0px 0px 30px;
}

#greetings{
   position: absolute;
   margin-top: 180px;
   font-size: 55px;
}











}