@media screen and (max-width : 1000px ){
    /* mobile off objects */
    .container-of-blogimg,.pcbar{
        display: none;
    }
/* overlay */
#myNav{
    display: block;
}
.overlay{
    background-color: rgb(0, 0, 0,0.9);
    width: 0%;
    height: 50%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    top: 0px;
}

.overlay-content{
    position: relative;
    top: 0%;
    width: 50%;
    text-align: center;
    margin: 150px 0px 0px 200px;
}

.overlay a:hover,.overlay:focus{
    color: grey;
}

.overlay a{
    padding: 10px;
    text-decoration: none;
    font-size: 52px;
    color: white;
    display: block;
    transition: 0.3s;
    margin-bottom: 25px;
}

.overlay .closebtn{
    position: absolute;
    top: 60px;
    margin-left: 650px;
}
svg{
    width: 65px;
    height: 65px;
}
.openbtn{
    position: absolute;
    font-size: 65px;
    display: block;
    margin: -180px 0px 0px 150px;
}
.webname{
    position: absolute;
    top: 25px;
    left: 45px;
    height: 60px;
    width: auto;
    font-size: 36px;
    letter-spacing: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 0.65;
    border: solid 2px black;
    padding: 5px;
    background-color: black;
    color: white;
    margin: 10px 0px 55px 200px;
}
.webname a{
    text-decoration: none;
    color: white;
    padding: 20px 15px 15px 15px;
}
.webname:hover{
    background-color: black;
    border-radius: 0px;
    color: deeppink;
}
.topic-container{
    margin: 0px 0px 200px 0px;
}
.homecontent-img{
    width: 100%;
    height: 100%;
 }
 .topics-home,.topics-home2{
    width: 100%;
    height: 1200px;
    border: 2px solid black;
    margin-top: 2%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 5%;
    float: left;
    border: none;
    font-size: 45px;
    box-shadow: 15px 0px 20px;
}
/*----------------- blog page--------------- */


 /* ===========================hottours=========================== */
 .hottours{
    clear: both;
    margin-left: 8.5%;
}
.hot-topic1,.hot-topic2,.hot-topic3,.hot-topic4{
    position: relative;
    float: left;
    max-width: 170px;
    min-width: 150px;
    max-height: 170px;
    min-height: 150px;
    margin: 2.5%
}
.hot-topic1:hover,.hot-topic2:hover,.hot-topic3:hover,.hot-topic4:hover{
    opacity: 0.7;
}
/* =========================ended============================== */






}